<!DOCTYPE html>
<html>
<head>
<title>  LSCS️ ARW 2019-2020 </title>

  <!-- Stylesheet -->
  <link rel="stylesheet" type="text/css" href="/css/style.css">



  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="/css/boostrap.min.css">
  <script src="lib/jquery.min.js"></script>
  <script src="lib/boostrap.min.js"></script>

</head>

<body>

{{{body}}}


</body>
</html>
