<!DOCTYPE html>
<html>
<head>
<title>  LSCS️ ARW 2019-2020 </title>

  <!-- Stylesheet -->
  <link rel="stylesheet" type="text/css" href="/css/style.css">


  <!-- JQuery -->
  <script src="/lib/jquery.min.js"></script>
  
  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <script src="/lib/bootstrap.min.js"></script>

</head>

<body>

{{{body}}}


</body>
</html>
