<!DOCTYPE html>
<html>
<head>

  <!-- Stylesheet -->
  <link rel="stylesheet" type="text/css" href="/css/fonts.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">


  <!-- JQuery -->
  <script src="/lib/jquery.min.js"></script>
  
  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <script src="/lib/bootstrap.min.js"></script>

  <!-- Favicon -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/res/icons/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/res/icons/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="/res/icons/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/res/icons/favicon-16x16.png" sizes="16x16" />
  <meta name="application-name" content="LSCS ARW 2019-2020" />
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="/res/icons/mstile-144x144.png" />

  <title>LSCS ARW 2019-2020</title>

</head>

<body>

  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>

{{{body}}}


<!-- SCRIPTS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>

 <script src="/js/particles.js"></script>

</body>
</html>
