<div id="particles">
    {{>navbar}}

    <div class="content">
        <div class="container">
            <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
            <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">

            <script> 
                $(document).ready( function () {
                    $('#LSCSTable').DataTable();
                });
            </script>

            <div class="col">
                <br/>
                <h1>Members</h1>
                <br/>
                <table id="LSCSTable" class="table table-borderless">
                    <thead>
                        <th> Full Name </th>
                        <th> ID Number </th>
                        <th> Terms Left </th>
                        <th> Course </th>
                        <th> Contact Number </th>
                        <th> Email </th>
                        <th> Facebook Name </th>
                        <th> Junior Officer </th>
                        <th> Membership </th>
                    </thead>

                    <tbody>
                        <tr>
                            <td> Lynux Ansay </td>
                            <td> 11912632 </td>
                            <td> 1 </td>
                            <td> BS Landi </td>
                            <td> 0922LandiMePls </td>
                            <td> xynulyansna@mamamo.com </td>
                            <td> Lynux Ansay </td>
                            <td> Yes </td>
                            <td> New </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
        