<script src="/js/typewriter.js"></script>
<script src="/js/regType.js"></script>


<div id="particles">
    {{>navbar}}
   

    <div class="content">
        <div class="welcome-div row">
            <div class="col center-block my-auto">
        
            <div class="ftext">
                <h1 class="typewrite welcome-text1" data-period="2000" data-type='["Annual Recruitment Week 2019", "Join La Salle Computer Society!" ]'>
                <span class="wrap"></span>
            </h1>
            </div>
            
            <h2 class="welcome-text2">
                September 30 - October 3
            </h2>
            <button class="lscs_yellow button" data-toggle="modal" data-target="#regModal"> Register Now!</button>
        </div>

        <div class="col text-center my-auto">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/v5Rxdtj1-jY?controls=0" frameborder="0" loop="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        </div>
        
        
        
    </div>

</div>


<!-- Modal 1 -->
<div class="modal fade" id="regModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registration Type</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <div class="row d-flex justify-content-center">
                <div class="col-sm d-flex justify-content-center">
                    <button class="rtype" data-dismiss="modal" data-toggle="modal" data-target="#regModal2" onclick="set('OldMember')">Old Member</button>
                </div>
                <div class="col-sm d-flex justify-content-center">
                    <button class="rtype" data-dismiss="modal" data-toggle="modal" data-target="#regModal2" onclick="set('NewMember')">New Member</button>
                </div>
                <div class="col-sm d-flex justify-content-center">
                    <button class="rtype" data-toggle="modal" data-target="#regModal" onclick="submit('Honorary')">Honorary</button>
                </div>
            </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal 2 -->
<div class="modal fade" id="regModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registration Type</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <div class="row d-flex justify-content-center">
                <div class="col-sm d-flex justify-content-center">
                    <button class="rtype" onclick="submit('Group')">Groups of 5</button>
                </div>
                <div class="col-sm d-flex justify-content-center">
                    <button class="rtype" onclick="submit('Solo')"></span>Solo</button>
                </div>
            </div>
      </div>
    </div>
  </div>
</div>


<form id="typeForm" action="/register" method="GET">
    <input type="hidden" id="regInput" name="rType" value="" />
</form>
