<div id="particles">
    <div class="container text-center">
        <div class = "brand vertical center container">
            <h4 class = "brand title"> 
                LA SALLE COMPUTER SOCIETY <br>
                ANNUAL RECRUITMENT WEEK
            </h4>
            <h5> OCTOBER 7, 2019 - OCTOBER 10, 2019 </h5> 
            <img src="/res/macky.png" width="300px"> 
            <p class = "brand label"> 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lacinia dolor ut feugiat ullamcorper. Sed felis libero, suscipit ut luctus ut, rhoncus sit amet quam. Nunc vestibulum et felis sit amet consequat. Pellentesque volutpat odio ut eros lobortis pellentesque. Cras sodales convallis feugiat. Etiam elementum odio quis odio hendrerit, tempus blandit mauris faucibus.     
            </p>
            
            <button id = "member-registration" class = "brand button">
                REGISTER HERE!
            </button>
        </div>
    </div>
</div>