:root {
  --black-gray: #535353;
  --light-gray: #A2A2A2;

  --blue: #025187;
  --light-blue: #2c8dce;

  --yellow: #FCDB51;
  --light-yellow: #fdea9b;

  --red: #b22222;
  --light-red: #cc4848;
}


* {
  font-family: "Lato"
}

body
{
    position: fixed; 
    overflow-y: scroll;
    width: 100%;
    overflow:hidden;
}



#particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

#particles .content {
  margin-left: 50vw;
  transform: translateX(-50%);
  position: absolute;
  display: flex;
  flex-direction: column;
  min-height: 90%;
  min-width: 90%;
  /* background-color:red; */
}

  /* Welcome */


.welcome-div{
  min-height: 500px;
  min-width: 90%;
  /* background-color: #025187; */
}

.welcome-text1{
  font-size: 75px;
}

.welcome-text2{

}

.lscs_yellow.button {
  background: #fbd11f !important;
  color: #545454 !important;
}

.lscs_yellow.button:hover {
  background: #fdea9b !important;
}

button.button {
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
  font-size: 32px;
  padding: 8px;
  border-radius: 12px;
}

  /* End Welcome */

  
/* Registration */

body.registration {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  position: fixed;
}

/*end reset*/

#particles.registration {
  position: relative;
  height: 100vh;
}
  
#particles.registration .content {
  top: 10%;
  margin-left: 50vw;
  transform: translateX(-50%);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 80%;
}

#register h4 {
  text-align: center;
  color: var(--light-blue);
  font-weight: bold;
  font-family: "Raleway";
  margin-top: 20px;
}

.inactive {
  background: var(--light-gray); 
}

.action-button, .action-button-previous {
  width: 100px;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 5px;
  outline: none;
}

.action-button {
  background: var(--blue);
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.action-button-previous {
  background: var(--yellow);
  position: absolute;
  bottom: 30px;
}

.action-button:hover, .action-button:focus {
  transition: all .25s linear;
  box-shadow: 0 0 0 2px white, 0px 4px 15px 0px var(--light-blue);
}

.action-button-previous:hover, .action-button-previous:focus {
  transition: all .25s linear;
  box-shadow: 0 0 0 2px white, 0px 4px 15px 0px var(--yellow);
}

.action-button-previous:active, .action-button:active {
  box-shadow: 0 0 0 2px white;
}

.wrap-input {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
}

.input {
  border: none;
  outline: none;
  font-family: "Lato";
  font-size: 18px;
  color: #555555;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 52px;
  background: transparent;
  padding: 0 5px;
}

.validate-input {
  position: relative;
}

.focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 3px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: var(--light-blue);
}

.focus-input::after {
  font-family: "Lato";
  font-size: 18px;
  color: #999999;
  line-height: 1.2;

  content: attr(data-placeholder);
  display: block;
  width: 100%;    
  position: absolute;
  top: 15px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input:focus + .focus-input::after {
  top: -15px;
  font-size: 15px;
  color: var(--light-blue);
}

.input:focus + .focus-input::before {
  width: 100%;
}

.m-b {
  margin-bottom: 34px;
}

.m-t {
  margin-top: 20px;
}

.m-b-60 {
  margin-bottom: 60px;
}

.not-empty.input + .focus-input::after {
  top: -12px;
  font-size: 15px;
}

.not-empty.input + .focus-input::before {
  width: 100%;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  /* border: 1px solid var(--red); */
  border-radius: 2px;
  padding: 4px 25px 4px 18px;
  top: 130%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0px;
  pointer-events: none;
  font-family: "Lato";
  color: var(--red);
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "*";
  font-size: 16px;
  color: var(--red);
  display: block;
  position: absolute;
  background-color: #fff;
  top: 130%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 5px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

.m-b-60 {
  margin-bottom: 60px;
}

.inline {
  display: inline-flex;
}

.inline div {
  margin-left: 5px;
  margin-right: 5px;
}

.inline div:first-child {
  margin-left: 0px;
  margin-right: 5px;
}

.inline div:last-child {
  margin-left: 5px;
  margin-right: 0px;
}

/* Registration Radio Buttons*/

#officer-pos-ctnr {
  display: none;
}

.radio-btn-container {
  display: block;
  position: relative;
  margin: 10px auto;
  height: auto;
  width: auto;
}

.radio-btn-container :not(h4) {
  padding: 0px 20px;
}

.radio-btn-container div {
  clear: both;
  overflow: hidden;
}

.radio-btn-container label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.radio-btn-container input[type="radio"]:empty {
  display: none;
}

.radio-btn-container input[type="radio"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.radio-btn-container input[type="radio"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
}

.radio-btn-container input[type="radio"]:hover:not(:checked) ~ label {
  color: #888;
  border: 1px solid #44a8eb91;
}

.radio-btn-container input[type="radio"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #fff;
  background-color: #44a8eb91;
}

.radio-btn-container input[type="radio"]:checked ~ label {
  color: var(--light-blue);
  border: 1px solid var(--light-blue);
}

.radio-btn-container input[type="radio"]:checked ~ label:before{
  content: '\2714';
  text-indent: .9em;
  color: var(--light-blue);
  background-color: #ccc;
}

.radio-btn-container input[type="radio"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #777;
}

.radio-btn input[type="radio"]:checked ~ label:before{
  color: rgb(255, 255, 255);
  background-color: var(--light-blue);
}

/*Fieldsets*/

.register-set {
  background: rgba(255, 255, 255, 0.89);
  border: 0 none;
  border-radius: 0px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 520px;
  height: 460px;
  margin: auto;

  /*stacking fieldsets above each other*/
  position: relative;
}

#register fieldset:not(:first-of-type) {
  display: none;
}

  /* End registration */
