:root {
  --black-gray: #535353;
  --light-gray: #A2A2A2;

  --blue: #025187;
  --light-blue: #2c8dce;

  --yellow: #FCDB51;
  --light-yellow: #fdea9b;

  --red: #b22222;
  --light-red: #cc4848;
}


* {
  font-family: "Lato"
}



  /* Welcome */
#particles {
  position: relative;
  height: 100vh;
}

#particles .content {
  top: 10%;
  margin-left: 50vw;
  transform: translateX(-50%);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-width: 80%;
}


.about {
  min-height: 355px;
  padding-top: 35px;
  background-color: #025187;
  width: 100%;
}

.about header {
  display: block;
}

.about header span {
  font-family: "Raleway", sans-serif;
  text-align: center;
  display: block;
  
}

.about header span:first-child {
  text-transform: uppercase;
  font-size: 32px;
  color: #FCDB51;
}

.about header span:last-child {
  /* margin-top: -25px; */
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
}

.about>p {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #ffffff;
  padding: 25px 80px;
  font-size: 18px;
}

.about>p .about-link {
  display: inline-block;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 500;
  padding: 7px 0;
  min-width: 200px;
  color: #545454;
  background-color: #FCDB51;

  min-width: 130px;
  text-align: center;
  text-decoration: none !important;
  transition: all 175ms ease-out;
  border-radius: 4px;
}

.about>p .about-link:hover {
  background-color: #dbbd44;
}


  /* End Welcome */

  /* Registrattion */
  div#register {
    width: 500px;
  }

.container {
  background-color: rgba(255, 255, 255, 0.815);
  box-shadow: 0.5px 5px 8px 0px rgba(0,0,0,0.1);
  padding: 20px;
}

.wrap-input {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
}

.input {
  border: none;
  font-family: "Lato";
  font-size: 18px;
  color: #555555;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 52px;
  background: transparent;
  padding: 0 5px;
}

.validate-input {
  position: relative;
}

.focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 3px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: var(--light-blue);
}

.focus-input::after {
  font-family: "Lato";
  font-size: 18px;
  color: #999999;
  line-height: 1.2;

  content: attr(data-placeholder);
  display: block;
  width: 100%;    
  position: absolute;
  top: 15px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input:focus + .focus-input::after {
  top: -20px;
  font-size: 15px;
}

.input:focus + .focus-input::before {
  width: 100%;
}

.m-b-32 {
  margin-bottom: 32px;
}

.m-b-60 {
  margin-bottom: 60px;
}

.not-empty.input + .focus-input::after {
  top: -20px;
  font-size: 15px;
}

.not-empty.input + .focus-input::before {
  width: 100%;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid var(--red);
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

  color: var(--red);
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "!";
  font-size: 16px;
  color: --red;

  display: block;
  position: absolute;
  background-color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}
  .m-b-60 {
    margin-bottom: 60px;
  }

.inline {
  display: inline-flex;
}

.inline div {
  margin-left: 5px;
  margin-right: 5px;
}

.inline div:first-child {
  margin-left: 0px;
  margin-right: 5px;
}

.inline div:last-child {
  margin-left: 5px;
  margin-right: 0px;
}

  /* End registration */
